In [19]:
import numpy as np
import pandas as pd

In [29]:
# Question 1 - What's the version of Pandas that you installed?
pd.__version__

'2.1.0'

In [3]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv

--2023-09-15 16:17:55--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 2606:50c0:8000::154, 2606:50c0:8003::154, 2606:50c0:8002::154, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|2606:50c0:8000::154|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1423529 (1.4M) [text/plain]
Saving to: ‘housing.csv’

housing.csv         100%[===================>]   1.36M  --.-KB/s    in 0.1s

2023-09-15 16:17:56 (9.28 MB/s) - ‘housing.csv’ saved [1423529/1423529]

In [28]:
df = pd.read_csv("housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [30]:
# Question 2 - How many columns are in the dataset?
len(df.columns)

10

In [31]:
# Question 3 - Which columns in the dataset have missing values?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [33]:
# Question 4 - How many unique values does the `ocean_proximity` column have?
df["ocean_proximity"].value_counts().count()

5

In [34]:
# Question 5 - What's the average value of the `median_house_value` for the houses located near the bay?
df[df["ocean_proximity"] == "NEAR BAY"]["median_house_value"].mean().round(3)

259212.312

In [39]:
# Question 6 - 
mtb = df["total_bedrooms"].mean()
print(f"With missing values: {mtb:.3f}")
df["total_bedrooms"].fillna(mtb).mean()
print(f"After filling missing values: {df['total_bedrooms'].fillna(mtb).mean():.3f}")

With missing values: 537.871
After filling missing values: 537.871

In [47]:
# Question 7
df_island = df[df["ocean_proximity"] == "ISLAND"][["housing_median_age", "total_rooms", "total_bedrooms"]]
X = np.array(df_island)
XTX = np.matmul(X.T, X)
XTX_inv = np.linalg.inv(XTX)
y = np.array([950, 1300, 800, 1000, 1300])
w = np.matmul(np.matmul(XTX_inv, X.T), y)
print(f"Last element of w: {w[-1]:.4f}")

Last element of w: 5.6992